h1 {
  text-align: center;
  font-size: 3rem;
  color: blueviolet;
}

div {
  width: 50vw;
  height: 10vh;
  border: 1.5px solid rgb(87, 9, 120);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
p {
  text-align: center;
  font-size: 1.7rem;
  color: rgb(183, 31, 31);
}

.lastDiv {
  width: 70vw;
  height: 60px;
  border: 2px solid rgb(54, 105, 5);
  margin-top: 30px;

}

